# CUSTOM

## Batocera mapping overrides
global.retroarch.input_autodetect_enable=true
global.retroarch.input_remap_binds_enable=true
global.retroarch.input_quit_gamepad_combo=7
global.retroarch.all_users_control_menu=false
global.retroarch.network_cmd_enable=true
global.retroarch.network_cmd_port=55355
global.retroarch.stdin_cmd_enable=true

global.retroarch.input_player1_joypad_index=0
global.retroarch.input_player1_a_btn=nul
global.retroarch.input_player1_b_btn=nul
global.retroarch.input_player1_x_btn=nul
global.retroarch.input_player1_y_btn=nul
global.retroarch.input_player1_l_btn=nul
global.retroarch.input_player1_r_btn=nul
global.retroarch.input_player1_start_btn=nul
global.retroarch.input_player1_select_btn=nul
global.retroarch.input_player1_up_axis=nul
global.retroarch.input_player1_down_axis=nul
global.retroarch.input_player1_left_axis=nul
global.retroarch.input_player1_right_axis=nul

global.retroarch.input_player2_joypad_index=1
global.retroarch.input_player2_a_btn=nul
global.retroarch.input_player2_b_btn=nul
global.retroarch.input_player2_x_btn=nul
global.retroarch.input_player2_y_btn=nul
global.retroarch.input_player2_l_btn=nul
global.retroarch.input_player2_r_btn=nul
global.retroarch.input_player2_start_btn=nul
global.retroarch.input_player2_select_btn=nul
global.retroarch.input_player2_up_axis=nul
global.retroarch.input_player2_down_axis=nul
global.retroarch.input_player2_left_axis=nul
global.retroarch.input_player2_right_axis=nul


## CORE
#atari2600.retroarch.input_enable_hotkey_btn=nul
#atari2600.configfile=/userdata/system/.config/retroarch/config/Stella/stella_libretro.cfg
#atari2600.retroarch.input_player1_joypad_index=2
#atari2600.retroarch.input_player2_joypad_index=3

megadrive.retroarch.input_enable_hotkey_btn=nul
megadrive.retroarch.input_quit_gamepad_combo=8
megadrive.retroarch.input_player1_joypad_index=2
megadrive.retroarch.input_player2_joypad_index=3

nes.retroarch.input_enable_hotkey_btn=nul
nes.retroarch.input_player1_joypad_index=2
nes.retroarch.input_player2_joypad_index=3

fbneo["tempest.zip"].retroarch.input_player1_mouse_index=1
fbneo["tempest.zip"].retroarch.input_analog_sensitivity=5

mame["gt99.zip"].retroarch.input_player1_joypad_index=2
mame["tempest3.zip"].retroarch.input_player1_mouse_index=1
mame["tempest3.zip"].retroarch.input_analog_sensitivity=-5
